body {
    text-align: center;
}

img {
    width: 250px;
}

#logo-sm {
    width: 75px;
}

.nav-link {
    color: black;
    font-size: 14px;
    margin: 15px;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}

.reg-input {
    border: 1px solid lightgrey;
    border-radius: 30px;
    width: 500px;
    padding: 10px 10px;
    margin: 30px;
    background-color: white;
    background-image: url('search_icon.png');
    background-size: 30px;
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding-left: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.reg-input:hover {
    box-shadow: 0px 2px 10px gainsboro;
}

.reg-input:focus {
    outline: none;
}

.reg-submit {
    background-color: ghostwhite;
    border: 1px solid ghostwhite;
    border-color: transparent;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 14px;
    margin: 5px
}

.reg-submit:hover {
    box-shadow: 0px 1px 2px gainsboro;
    border: 1px solid lightgray;
}

.mid-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

#images {
    color: #4285f4;
    font-size: 14px;
    position: relative;
    left: 97px;
    bottom: 20px;
}

h5 {
    color: #d93025;
    text-align: left;
    margin: 30px 60px;
    font-weight: normal;
}

hr {
    color: lightgray;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 40% 20%;
    align-items: center;
    margin-left: 50px;
}

.grid-item {
    text-align: left;
    padding: 10px;
}

.subtitle {
    font-size: 13px;
}

.desc {
    font-size: 11px;
}

.adv-input {
    width: 100%;
    font-size: 13px;
}

.submit {
    text-align: right;
}

.adv-submit {
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
    border-radius: 3px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}